<!--
  Generated template for the RestaurantWebsitePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>restaurant-website</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <iframe *ngIf="restaurant.restaurantURL" [src]="sanitizedURL" style="width:100%;height:100%;overflow:hidden !important;-webkit-overflow-scrolling:touch !important" frameborder="0" ></iframe>
</ion-content>
