
<ion-content padding style="background-color: #ca1d1d;">
  <ion-slides>
    <ion-slide>
      Hello
    </ion-slide>
    <ion-slide>
      World
    </ion-slide>
    <ion-slide>
      Get Started
      <button ion-button (click)="getStarted()">Get Started</button>
    </ion-slide>
  </ion-slides>
</ion-content>
