<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Entrée</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item no-lines *ngFor="let message of messages">
      <div class="my-message" *ngIf="message.userID == userID">
          <span class="user-icon">
              <h3>{{message.userName | slice:0:1}}</h3>
          </span>
          <span class="message-detail">
            <div class="username">
              <h3>{{message.userName}} </h3>
            </div>
            <div text-wrap class="message">
              <p>
                {{message.text}}
              </p>
            </div>
          </span>
      </div>
      <div class="their-message" *ngIf="message.userID != userID">
          <span class="user-icon">
              <h3>{{message.userName | slice:0:1}}</h3>
          </span>
          <span class="message-detail">
            <div class="username">
              <h3>{{message.userName}} </h3>
            </div>
            <div text-wrap class="message">
              <p>
                {{message.text}}
              </p>
            </div>
          </span>
      </div>
    </ion-item>
    <ion-item no-lines *ngIf="isUserInputEnabled == true">
        <ion-label color="primary">{{actionMessage}}</ion-label>
        <ion-input placeholder="{{actionMessage}}" [(ngModel)]="textInput" (keyup.enter)="saveUserInput()"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>