<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Entrée</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-searchbar
    [(ngModel)]="autocomplete.query"
    [showCancelButton]="true"
    (ionInput)="updateSearch()"
    (ionCancel)="dismiss()"
    placeholder="Start typing and select ...">
  </ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of autocompleteItems"
              (click)="chooseItem(item)">
      {{ item.description }}
    </ion-item>
  </ion-list> -->
  <ion-searchbar placeholder=""></ion-searchbar>
  <ion-list id="recent-locations">
    <button ion-item>
      <p> Current location </p>
      <p> {{currentlocation}} </p>
    </button>

  </ion-list>
  <div id="map_canvas">
    <button ion-button (click)="onButtonClick($event)">Demo</button>
  </div>
</ion-content>
