<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Entrée" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Restaurants" tabIcon="restaurant"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Delivery" tabIcon="pizza"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Groups" tabIcon="contacts" tabBadge="{{groupBadge}}"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Location" tabIcon="navigate"></ion-tab>
</ion-tabs>
