.back-button {
    background-color: transparent;
    color: white;
    font-size: 18px;
}
.next-button {
    background-color: transparent;
    color: white;
    font-size: 18px;
}
page-user-preferences {
    .intro {
        text-align: center;
    }
    .reset-button {
        text-align: center;
    }
    .bubble {
        background-color: transparent;
        box-shadow: none;
        color: black;
        text-align: center;
        font-weight: 300;
        font-size: 20px;
    }
    .bubble:focus{
        background-color: #ca1d1d;
        color: white;
    }

    .bubble-default {
        // border: 1px solid #ca1d1d;
        border-radius: 10px;
        padding: 4px 4px;
    }
    
    .bubble-like {
        font-size: 24px;
        // border: 1px solid #ca1d1d;
        border-radius: 10px;
        padding: 4px 4px;
    }
    
    .bubble-love {
        // border: 1px solid #ca1d1d;
        border-radius: 10px;
        padding: 4px 4px;
        font-size: 28px;
    }

}
