<!--
  Generated template for the UserPreferencesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button (click)="backTapped()" class="back-button" *ngIf="index == 0">Back</button>
    </ion-buttons>
    <ion-title>Entrée</ion-title>
    <ion-buttons end>
      <button (click)="nextTapped()" class="next-button"> Next </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="intro">
    A whole bunch of text here
    asdfasdf
    asdf
    asdfa
  </div>
  <a class="vegetarian-button" (click)="vegetarianTapped()" *ngIf="index == 1">I'm a vegetarian!</a>
  <a class="reset-button" (click)="resetBubbles()" *ngIf="showResetButton == true">Reset</a>
  <ion-row>
    <ion-col col-6 *ngFor="let cuisine of cuisines">
      <div class="container">
        <a class="bubble" ion-long-press [interval]="1000" (click)="bubbleTapped(cuisine)" (onPressing)="removeBubble(cuisine)" *ngIf="cuisine != null">
          <div class="bubble-default" *ngIf="!userCuisines.hasOwnProperty(cuisine)">
            {{masterData.allCuisines[cuisine]}}
          </div>
          <div class="bubble-like" *ngIf="userCuisines[cuisine] == 0.9">
            {{masterData.allCuisines[cuisine]}}
          </div>
          <div class="bubble-love" *ngIf="userCuisines[cuisine] == 1.0">
            {{masterData.allCuisines[cuisine]}}
          </div>
        </a>
      </div>
    </ion-col>
    <ion-col col-6 *ngFor="let meat of meats">
        <div class="container">
          <a class="bubble" ion-long-press [interval]="1000" (click)="bubbleTapped(meat)" (onPressing)="removeBubble(meat)" *ngIf="meat != null">
            <div class="bubble-default" *ngIf="!userMeats.hasOwnProperty(meat)">
              {{masterData.allMeats[meat]}}
            </div>
            <div class="bubble-like" *ngIf="userMeats[meat] == 0.9">
              {{masterData.allMeats[meat]}}
            </div>
            <div class="bubble-love" *ngIf="userMeats[meat] == 1.0">
              {{masterData.allMeats[meat]}}
            </div>
          </a>
        </div>
      </ion-col>
  </ion-row>

</ion-content>
