ion-navbar {
    text-align: center;
    margin-left: 0px;
}

.filters-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 20;
    top: 0;
    left: 0;

  }

.filters-overlay .filters-screen {
    width: 80%;
    height: 80%;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    overflow: scroll;
}

.filters-overlay .filters-screen .close-button {
    left: 0;
    top: 0;
    margin-left: 10%;
    font-size: 24px;
    color: white;
    background-color: #ca1d1d;
    border-radius: 50%;
    padding: 4px 8px 4px 8px;
    position: absolute;
    z-index: 3;
}

.filters-overlay .filters-screen h3 {
    margin: 4px;
}

.filters-overlay .filters-screen ion-list button {
    text-align: center;
    font-weight: 300;
}

.filters-overlay .filters-screen ion-list .selected-attribute {
    font-weight: 600;
}

page-restaurants {
    .filters {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .filters .filter {
        display: inline-block;
        font-size: 14px;
        font-weight: 300;
        padding: 6px 6px 6px 6px;
        margin: 4px 4px 2px 2px;
        border: 1px solid #ca1d1d;
        border-radius: 20px;
    }

    .filters .filter-selected {
        display: inline-block;
        font-size: 14px;
        font-weight: 300;
        padding: 6px 6px 6px 6px;
        margin: 4px 4px 2px 2px;
        border: 1px solid #ca1d1d;
        border-radius: 20px;
        background-color: #ca1d1d;
        color: white;
    }

    ion-list .restaurant-cell:nth-child(2n+1) {
        background-color: rgba($color: #ca1d1d, $alpha: 0.05);
    }
    #restaurants {
        .restaurant {
            width: 100%;
            // height: 100px;
        }
        .restaurant-item-top {
            display: block;
            width: 100%;
            height: 40%;
            align-items: center;
        }
        .restaurant-item-bottom {
            display: block;
            width: 100%;
            height: 60%;
            align-items: center;
            margin-top: 5px;
        }
        
        span.name {
            display: inline-block;
            width: 50%;
        }
        
        span.priceTier {
            display: inline-block;
            width: 10%;
            text-align: center;
        }
        
        span.rating, span.distance {
            display: inline-block;
            width: 20%;
            text-align: center;
        }

        // span

        span.cuisine {
            display: inline-block;

            width: 20%;            
        }

        span.hasDrinks {
            text-align: center;
            display: inline-block;
            width: 15%;
        }

        span.hasDrinks .hasDrinksImage {
            width: 13px;
            height: 20px;
        }
        
        span.attributes {
            display: inline-block;
            width: 63%;
            text-align: right;
        }

        span.attribute {
            display: inline-block;
            font-size: 12px;
            font-weight: 300;
            padding: 6px 6px 6px 6px;
            // margin-top: 1px;
            margin: 4px 4px 2px 2px;
            border: 1px solid #ca1d1d;
            border-radius: 20px;
        }

        h3 {
            font-size: 17px;
            font-weight: 300;
            margin-right: 2px;
        }
        h4 {
            font-size: 15px;
            font-weight: 300;
        }
        h5 {
            font-size: 15px;
            font-weight: 300;
        }
    }
}
