<!--
  Generated template for the RestaurantsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="entree-navbar">
      <ion-title>Entrée</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <div class="filters-overlay" padding [hidden]="overlayHidden">
      
      <div class="filters-screen">
          <div class="close-button" (click)="hideOverlay()">
              <ion-icon name="checkmark"></ion-icon>
          </div>
          <h3>More filters</h3>
          <p>Select all that apply</p>
          <ion-segment [(ngModel)]="selectedSegmentIndex"  color="primary">
              <ion-segment-button value="attributes">
                  Attributes
              </ion-segment-button>
              <ion-segment-button value="cuisines">
                  Cuisines
              </ion-segment-button>
          </ion-segment>
  
          <ion-list no-lines *ngIf="selectedSegmentIndex == 'attributes'">
              <button detail-none ion-item (click)="attributeFilterSelected(attribute)" *ngFor="let attribute of availableAttributes">    
                  <div *ngIf="selectedAttributes.indexOf(attribute) > -1" class="selected-attribute">
                      {{attribute}}
                  </div>
                  <div *ngIf="selectedAttributes.indexOf(attribute) == -1">
                      {{attribute}}
                  </div>
              </button>
          </ion-list>
  
          <ion-list no-lines *ngIf="selectedSegmentIndex == 'cuisines'">
              <button detail-none ion-item (click)="cuisineFilterSelected(cuisine)" *ngFor="let cuisine of availableCuisines">
                  <div *ngIf="selectedCuisines.indexOf(cuisine) > -1" class="selected-attribute">
                      {{cuisine}}
                  </div>
                  <div *ngIf="selectedCuisines.indexOf(cuisine) == -1">
                      {{cuisine}}
                  </div>
              </button>
          </ion-list>
  
  
          <!-- <ion-slides>
              <ion-slide>
                  <ion-list no-lines>
                      <button ion-item *ngFor="let attribute of availableAttributes">{{attribute}}</button>
                  </ion-list>
              </ion-slide>
              <ion-slide>
                  <ion-list no-lines>
                      <button ion-item *ngFor="let cuisine of availableCuisines">{{cuisine}}</button>
                  </ion-list>
              </ion-slide>
          </ion-slides> -->
      </div>
  </div>
  
  
  <ion-content id="restaurants">
      <div class="filters">
          <span *ngFor="let filter of availableFilters; let i = index;">
              <span class="filter-selected" (click)="filterSelected(i)" *ngIf="selectedFilterIndex == i"> {{filter}} </span>
              <span class="filter" (click)="filterSelected(i)" *ngIf="selectedFilterIndex != i"> {{filter}}</span>
          </span>
          
          <span (click)="hideOverlay()"> More... </span>
  
      </div>
      
  
      <ion-list no-lines>
          <button class="restaurant-cell" detail-none ion-item *ngFor="let restaurant of filteredRestaurants" (click)="restaurantSelected(restaurant)">
              <div class="restaurant">
                  <div class="restaurant-item-top">
                  <span text-wrap class="name">
                      <h3> {{ restaurant.name }} </h3>
                  </span>
                  <span class="priceTier">
                      <h4>{{ restaurant.priceTierString }}</h4>
                  </span>
                  <span class="rating">
                      <h4 *ngIf="restaurant.rating">
                          {{ restaurant.rating}}
                      </h4>
                      <h4 *ngIf="!restaurant.rating">
                          - -
                      </h4>
                  </span>
                  <span class="distance">
                      <h4> {{ restaurant.distance }} mi. </h4>
                  </span>
                  </div>
                  <div class="restaurant-item-bottom">
                      <span class="cuisine">
                          <h4>{{ restaurant.cuisine }}</h4>
                      </span>
                      <span class="hasDrinks">
                          <img *ngIf="restaurant.hasDrinks" class="hasDrinksImage" src="assets/imgs/hasDrinks.png" />
                      </span>
                      <span text-wrap class="attributes">
                          <span class="attribute" *ngFor="let attribute of restaurant.attributes"> {{ attribute }} </span>
                      </span>
                  </div>
              </div>
          </button>
      </ion-list>
  
  </ion-content>
  