<!--
  Generated template for the NewGroupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <h4>Create a group</h4>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-list>
  <ion-item>
      <ion-item no-lines *ngFor="let message of messages; let i = index">
          <div class="my-message" *ngIf="message.sender == userID">
            
            <span class="message-detail">
              <div class="username">
                <h3>{{userName}}</h3>
              </div>
              <div text-wrap class="message">
                <p>
                  {{message.text}}
                </p>
              </div>
            </span>
            <span class="user-icon">
              <h3>{{userName | slice:0:1}}</h3>
            </span>
            
          </div>
          <div class="their-message" *ngIf="message.sender != userID">
              <span class="user-icon">
                  <h3>E</h3>
              </span>
              <span class="message-detail">
                <div class="username">
                  <h3>Entrée </h3>
                </div>
                <div text-wrap class="message">
                  <p>
                    {{message.text}}
                  </p>
                  <div *ngIf="i == questionIndex">
                    <span *ngFor="let choice of message.choices"><button ion-item (click)="responseSelected(choice)">{{choice.choiceName}} </button></span>
                  </div>
                </div>
              </span>
          </div>
      </ion-item>
  </ion-item>
</ion-list>
</ion-content>
