page-new-group {
    .my-message {
        text-align: right;
        display: block;
    }

    .user-icon {
        display: inline-block;
        background-color: red;
        color: white;
        text-align: center;
        border-radius: 50%;
        height: 30px;
        line-height: 30px;
        width: 30px;

    }
    .user-icon h3 {
        height: 30px; /* image's height */
        width: 30px;
        display: table-cell;
        vertical-align: middle;
        align-content: center;

    }

    .message-detail {
        display: inline-block;
    }
    .message-detail h3 {
        font-size: 14px;
        font-weight: 300;
    }

    .message {
        word-wrap: break-word;
        border-radius: 20px 20px;
        background-color: rgba($color: #ca1d1d, $alpha: 0.05);
        padding: 8px 8px 8px 8px;
        width: auto;
    }

    .their-message {
        text-align: left;
        display: block;
    }
}
