<!--
  Generated template for the DeliveryCartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
      <ion-item class="restaurant-cell">
        <div class="restaurant">
          <span class="restaurant-image">
            <img src="{{restaurant.logoURL}}"/>
          </span>
          <span class="restaurant-details">
            <h3 text-wrap> {{restaurant.name}} </h3>
            <p *ngIf="restaurant.rating && restaurant.rating > 0"> {{ restaurant.rating }} | {{ restaurant.priceTierString }} | {{ restaurant.distance }} mi</p>
            <p *ngIf="!restaurant.rating || restaurant.rating == 0"> {{ restaurant.priceTierString }} | {{ restaurant.distance }} mi</p>
            <p> {{ restaurant.primaryCuisine }} </p>
          </span>
          <span class="delivery-details">
            <p> {{restaurant.minWaitTime }} - {{ restaurant.maxWaitTime }} min</p>
            <p> Fee: ${{restaurant.deliveryFee}}</p>
            <p> Min: ${{restaurant.deliveryMin}}</p>
          </span>
          <!-- <p class="selectedDish" *ngIf="selectedTopDish"> {{ restaurant.dishes[selectedTopDish.dishID].dishName }} - {{restaurant.dishes[selectedTopDish.dishID].dishPrice}} </p> -->
        </div>
        
      </ion-item>
  </ion-list>

</ion-content>
