<!--
  Generated template for the DishDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Entrée</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div class="card-hero">
      <ion-slides>
        <ion-slide *ngFor="let image of dish.images">
          <img class="card-image" src="{{image.imageURL}}">
        </ion-slide>
      </ion-slides>
    </div>

    <div class="card-details">
        <span class="card-icons">
          <img class="cuisine-icon" src="assets/cuisine-icons/random.png"/>
          <img class="meat-icon" src="assets/cuisine-icons/random.png"/>
        </span>
        <span class="card-data">
          <h1 class="title">{{ dish.dishName }}</h1>
          <h2 class="subtitle">{{ dish.restaurantCount }} restaurants around you</h2>
        </span>
        <span class="card-price">
            <h2 class="price-range">{{dish.priceString}}</h2>

        </span>
      </div>

      <ion-list no-lines id="restaurants">
          <button class="restaurant-cell" detail-none ion-item *ngFor="let restaurant of dish.restaurants" (click)="restaurantSelected(restaurant)">
              <div class="restaurant">
                  <div class="restaurant-item-top">
                    <span text-wrap class="name">
                        <h3> {{ restaurant.name }} </h3>
                    </span>
                    <span class="priceTier">
                        <h4>{{ restaurant.priceTierString }}</h4>
                    </span>
                    <span class="rating">
                        <h4 *ngIf="restaurant.rating">
                            {{ restaurant.rating}}
                        </h4>
                        <h4 *ngIf="!restaurant.rating">
                            - -
                        </h4>
                    </span>
                    <span class="distance">
                        <h4> {{ restaurant.distance }} mi </h4>
                    </span>
                    <span class="dishPrice">
                        <h4 *ngIf="restaurant.dishPrices[dish.dishID] != 0"> ${{ restaurant.dishPrices[dish.dishID] }} </h4>
                        <h4 *ngIf="restaurant.dishPrices[dish.dishID] == 0"> $ - </h4>
                    </span>
                  </div>
                  <div class="restaurant-item-bottom">
                      <span class="cuisine">
                          <h4>{{ restaurant.cuisine }}</h4>
                      </span>
                      <span class="hasDrinks">
                          <img *ngIf="restaurant.hasDrinks" class="hasDrinksImage" src="assets/imgs/hasDrinks.png" />
                      </span>
                      <span text-wrap class="attributes">
                          <span class="attribute" *ngFor="let attribute of restaurant.attributes"> {{ attribute }} </span>
                      </span>
                  </div>
              </div>
          </button>
      </ion-list>



</ion-content>
