page-dish-detail {

    .card-hero {
        width: 100%;
        height: 50%;
    }
    .card-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .card-details {
        display: block;
        margin-top: 16px;
        width: 100%;
        margin-bottom: 16px;
    }
    .card-icons {
        display: inline-block;
        width: 15%;
        height: 100%;
        text-align: center;
        margin-right: 10px;
        margin-top: 10px;
    }
    .card-data {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        // margin-top: 10px;
        margin-left: 10px;
    }
    .card-price {
        display: inline-block;
        width: 25%;
        vertical-align: top;
        // margin-top: 10px;
    }


    .cuisine-icon, .meat-icon {
        width:40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        margin-left: 10px;
        margin-bottom: 10px;
        
    }

    .title {
        font-weight: 300;
        text-align: left;
        font-size: 24px;
    }
    
    .subtitle {
        font-weight: 300;
        text-align: left;
        font-size: 15px;
        margin-top: 10px;
    }
    
    .price-range {
        font-weight: 300;
        text-align: right;
        padding-top: 8px;
        font-size: 17px;
        padding-right: 10px;
    }

    ion-list .restaurant-cell:nth-child(2n+1) {
        background-color: rgba($color: #ca1d1d, $alpha: 0.05);
    }
    #restaurants {
        .restaurant {
            width: 100%;
            // height: 100px;
        }
        .restaurant-item-top {
            display: block;
            width: 100%;
            height: 40%;
            align-items: center;
        }
        .restaurant-item-bottom {
            display: block;
            width: 100%;
            height: 60%;
            align-items: center;
            margin-top: 5px;
        }
        
        span.name {
            display: inline-block;
            width: 45%;
        }
        
        span.priceTier {
            display: inline-block;
            width: 10%;
            text-align: center;
        }
        
        span.rating, span.distance {
            display: inline-block;
            width: 15%;
            text-align: center;
        }
        span.dishPrice {
            display: inline-block;
            width: 10%;
            text-align: center;
        }

        // span

        span.cuisine {
            display: inline-block;

            width: 20%;            
        }

        span.hasDrinks {
            text-align: center;
            display: inline-block;
            width: 15%;
        }

        span.hasDrinks .hasDrinksImage {
            width: 13px;
            height: 20px;
        }
        
        span.attributes {
            display: inline-block;
            width: 63%;
            text-align: right;
        }

        span.attribute {
            display: inline-block;
            font-size: 12px;
            font-weight: 300;
            padding: 6px 6px 6px 6px;
            // margin-top: 1px;
            margin: 4px 4px 2px 2px;
            border: 1px solid #ca1d1d;
            border-radius: 20px;
        }

        h3 {
            font-size: 17px;
            font-weight: 300;
            margin-right: 2px;
        }
        h4 {
            font-size: 15px;
            font-weight: 300;
        }
        h5 {
            font-size: 15px;
            font-weight: 300;
        }
    }
}
