<!--
  Generated template for the RestaurantOpentablePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>restaurant-opentable</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <iframe *ngIf="restaurant.reservationURL" [src]="sanitizedURL" width="100%" height="100%" frameborder="0" ></iframe>
</ion-content>
