<!--
  Generated template for the GroupsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons left> 
          <button (click)="newGroupTapped()" class="new-group-button"> 
            Join group
          </button>
        </ion-buttons> 
    <ion-title>Entrée</ion-title>
    <ion-buttons end> 
      <button (click)="newGroupTapped()" class="new-group-button"> 
        New group
      </button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let group of groups" (click)=groupTapped(group)>
      <h3>
        {{group.groupName}}
      </h3>
      <p>{{group.lastMessage}}</p>
    </button>
  </ion-list>
</ion-content>
