page-delivery-menu {
    .restaurant {
        display: block;
        width: 100%;
        height: 100%;
        padding: 8px 8px;
    }
    .restaurant-image {
        display: inline-block;
        height: 100%;
        width: 20%;
        text-align: center;
        margin-right: 5px;

    }
    .restaurant-image img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .restaurant-details {
        display: inline-block;
        height: 100%;
        width: 55%;
    }
    .delivery-details {
        display: inline-block;
        height: 100%;
        width: 20%;
    }
    .restaurant h3, .menu-item h3 {
        font-size: 17px;
        font-weight: 300;
        margin-right: 2px;
    }
    h4 {
        font-size: 15px;
        font-weight: 300;
    }
    .restaurant p, .menu-item p {
        font-size: 14px;
        font-weight: 300;
    }

    .menu-item {
        display: block;
        width: 100%;
        height: 100%;
    }

    .menu-item .dish {
        display: inline-block;
        height: 100%;
        width: 75%;
    }

    .menu-item .price {
        display: inline-block;
        height: 100%;
        width: 30%;
        text-align: center;
        

    }


}
