<!--
  Generated template for the DeliveryMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Entrée</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div>
    <div class="restaurant">
      <span class="restaurant-image">
        <img src="{{restaurant.logoURL}}"/>
      </span>
      <span class="restaurant-details">
        <h3 text-wrap> {{restaurant.name}} </h3>
        <p *ngIf="restaurant.rating && restaurant.rating > 0"> {{ restaurant.rating }} | {{ restaurant.priceTierString }} | {{ restaurant.distance}} mi </p>
        <p *ngIf="!restaurant.rating || restaurant.rating == 0"> {{ restaurant.priceTierString }} | {{ restaurant.distance }} mi</p>
        <p> {{ restaurant.primaryCuisine }} </p>
      </span>
      <span class="delivery-details">
        <p> {{restaurant.minWaitTime }} - {{ restaurant.maxWaitTime }} min</p>
        <p> Fee: ${{restaurant.deliveryFee}}</p>
        <p> Min: ${{restaurant.deliveryMin}}</p>
      </span>

      <ion-searchbar
        [(ngModel)]="searchStringInput"
        [showCancelButton]="true"
        (ionInput)="onSearchInput()"
        (ionCancel)="onSearchCancel()">
      </ion-searchbar>
    </div>
  </div>
  
  
  <ion-list>
    <ion-item-group *ngFor="let section of restaurant.menu">
      <ion-item-divider color="light"> {{section.sectionName}}</ion-item-divider>
        <button ion-item *ngFor="let dish of section.dishes" (click)="menuItemTapped(dish)">
          <div class="menu-item">
            <span class="dish">
              <h3>{{dish.dishName}}</h3>
              <p text-wrap *ngIf="dish.dishDescription"> {{dish.dishDescription}}</p>
            </span>
            <span class="price">
              <h3>${{dish.basePrice}}</h3>
            </span>
          </div>
        </button>
    </ion-item-group>
  </ion-list>
    

</ion-content>
