page-group {
    .toolbar-title {
        font-family: Roboto;
        font-weight: 100;
        font-size: 18px;
        color: white;
    }

    .page-content {
        height: 100%;
        margin-bottom: 0px !important;
    }

    .votes-button {
        background-color: transparent;
        position: relative;
    }
    .votes-button {
        position: relative;
        width: 55%;
    }
    
    .vote-icon {
        padding-top: 10px;
    }
    .vote-number {
        position: absolute;
        right: 0;
        margin-right: 8px;
        font-weight: 800;
        color: white;
        font-size: 24px;
    }

    .user-icon {
        display: inline-block;
        background-color: red;
        color: white;
        text-align: center;
        border-radius: 50%;
        height: 30px;
        line-height: 30px;
        width: 30px;

    }

    .user-icon h3 {
        height: 30px; /* image's height */
        width: 30px;
        display: table-cell;
        vertical-align: middle;
        align-content: center;

    }

    .message-detail {
        display: inline-block;
    }

    .message-detail h3 {
        font-size: 14px;
        font-weight: 300;
    }

    .message {
        word-wrap: break-word;
        border-radius: 20px 20px;
        background-color: rgba($color: #ca1d1d, $alpha: 0.05);
        padding: 8px 8px 8px 8px;
        width: auto;
    }

    .my-message .vote-count {
        // display: inline-block;
        float: right;
        margin-bottom: 10px;
        margin-top: 10px;
        // text-align: right;
        font-weight: 300;
        margin-left: 10px;
    }

    .my-message {
        text-align: right;
        display: inline-block;
        float: right;
    }

    .my-message .restaurant-message {
        // height: 180px;
        text-align: center; 
        font-weight: 300;
        position: relative;
        width: 65%;
        float: right;
        border-radius: 20px 20px;
        background-color: rgba($color: #ca1d1d, $alpha: 0.05);
        padding: 8px 8px 8px 8px;

    }
    .my-message .restaurant-votes {
        width: 25%;
        // height: 100%;
        // vertical-align: middle;
        text-align: right;
        margin-top: 10%;
        // margin-left: 10px;
    }
    
    .my-message .restaurant-like-icon {
        height: 30px;
        width: 30px;
        color: olivedrab;
        padding: 0px 4px 0px 0px;
        background-color: white;
        border-radius: 50%;
        font-size: 24px;
        text-align: center;
        // border: 1px solid rgba($color: #ca1d1d, $alpha: 1);
    }
    .my-message .restaurant-like-icon-selected {
        height: 40px;
        width: 40px;
        color: olivedrab;
        text-align: center;
        padding: 0px 4px 0px 4px;
        background-color: white;
        border-radius: 50%;
        font-size: 32px;
        border: 2px solid rgba($color: #ca1d1d, $alpha: 1);
    }
    .my-message .restaurant-dislike-icon {
        height: 30px;
        width: 30px;
        color: crimson;
        text-align: center;
        padding: 0px 4px 0px 0px;
        background-color: white;
        margin-top:5px;
        border-radius: 50%;
        font-size: 24px;
        margin-left: 15px;
        // border: 1px solid rgba($color: #ca1d1d, $alpha: 1);
    }
    .my-message .restaurant-dislike-icon-selected {
        text-align: center;
        height: 40px;
        width: 40px;
        color: crimson;
        margin-top:5px;
        padding: 3px 3px 0px 0px;
        background-color: white;
        border-radius: 50%;
        margin-left: 25px;
        font-size: 32px;
        border: 2px solid rgba($color: #ca1d1d, $alpha: 1);
    }
    
    
    .their-message {
        text-align: left;
        display: block;
    }

    .their-message .restaurant-message {
        // height: 180px;
        text-align: center;
        font-weight: 300;
        position: relative;
        width: 65%;
        float: left;
        border-radius: 20px 20px;
        background-color: rgba($color: #ca1d1d, $alpha: 0.05);
        padding: 8px 8px 8px 8px;

    }

    .their-message .restaurant-votes {
        width: 20%;
        // height: 100%;
        // float: right;
        // vertical-align: middle;
        text-align: left;
        margin-top: 10%;
        margin-left: 10px;
    }
    
    .their-message .vote-count {
        // display: inline-block;
        // float: right;
        margin-bottom: 10px;
        margin-top: 10px;
        // text-align: right;
        font-weight: 300;
        // margin-left: 10px;
    }

    .their-message .restaurant-like-icon {
        height: 30px;
        width: 30px;
        color: olivedrab;
        padding: 0px 4px 0px 0px;
        background-color: white;
        border-radius: 50%;
        font-size: 24px;
        text-align: center;
        // border: 1px solid rgba($color: #ca1d1d, $alpha: 1);
    }
    .their-message .restaurant-like-icon-selected {
        height: 40px;
        width: 40px;
        color: olivedrab;
        text-align: center;
        padding: 0px 4px 0px 4px;
        background-color: white;
        border-radius: 50%;
        font-size: 32px;
        border: 2px solid rgba($color: #ca1d1d, $alpha: 1);
    }
    .their-message .restaurant-dislike-icon {
        height: 30px;
        width: 30px;
        color: crimson;
        text-align: center;
        padding: 0px 4px 0px 0px;
        background-color: white;
        margin-top:5px;
        border-radius: 50%;
        font-size: 24px;
        margin-left: 15px;
        // border: 1px solid rgba($color: #ca1d1d, $alpha: 1);
    }
    .their-message .restaurant-dislike-icon-selected {
        text-align: center;
        height: 40px;
        width: 40px;
        color: crimson;
        margin-top:5px;
        padding: 3px 3px 0px 0px;
        background-color: white;
        border-radius: 50%;
        margin-left: 25px;
        font-size: 32px;
        border: 2px solid rgba($color: #ca1d1d, $alpha: 1);
    }
    

    .restaurant-info {
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 4px;
    }

    .vote-message {
        text-align: center;
        margin-bottom: 2px;
    }

    .vote-message p {
        font-weight: 300;
        text-align: center;
        border: 1px solid rgba($color: #ca1d1d, $alpha: 0.1);
        border-radius: 25px;
        display: inline-block;
        padding: 8px 8px 8px 8px;
    }

    .their-message .restaurant-like-icon {
        height: 30px;
        width: 30px;
        color: olivedrab;
        // padding-top: 2px;
        font-size: 24px;
    }
    .their-message .restaurant-like-icon-selected {
        height: 40px;
        width: 40px;
        color: olivedrab;
        padding-top: 2px;
        font-size: 32px;
    }
    .their-message .restaurant-dislike-icon {
        height: 30px;
        width: 30px;
        font-size: 24px;
        padding-top: 2px;
        color: crimson;
    }
    .their-message .restaurant-dislike-icon-selected {
        height: 40px;
        width: 40px;
        color: olivedrab;
        padding-top: 2px;
        font-size: 32px;
    }

    .restaurant-message h4 {
        // width: 200px;
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 4px;
        margin-top: 0px;
        margin-left:4px;
        margin-right: 4px;
    }

    .restaurant-message p {
        margin-top: 0px;
        margin-bottom: 4px;
        // width: 200px;
        // height: 100%;
    }

    .restaurant-message .attributes {
        display: block;
    }

    .restaurant-message .attribute {
        border: 0.5px solid #ca1d1d;
        border-radius: 25px;
        padding: 4px 4px 4px 4px;
        margin-bottom: 4px;
        font-size: 12px; 
        display: inline-block;
        margin: 2px 2px 2px 2px;
    }

    .restaurant-panel {
        width: 100%;
        height: 220px;
        background-color: white;
    }

    .restaurant-panel .panel-text {
        font-weight: 300;
        margin-left: 10px;
    }

    .restaurant-bar {
        background-color: white;
        margin-left: 10px;
        width: 100%;
    }

    .restaurant-bar-recommended-icon {
        font-size: 28px;
        padding: 5px;
        // padding-bottom: 5px;
        color: #ca1d1d;
        
    }


    .restaurant-bar-location  .restaurant-bar-recommended-icon {
        // position: ba;
        float: right;
    }

    .wide-as-needed {
        overflow: scroll;
        // white-space: nowrap;
        width: 100%;
        height: 100%;
    }

    .recRestaurant {
        border: 1px solid #ca1d1d;
        border-radius: 10px;
        margin: 8px 8px 8px 8px;
        height: 180px;
        text-align: center;
        font-weight: 300;
        position: relative;
    }
    .recRestaurant h4 {
        width: 200px;
        font-weight: 300;
        margin-bottom: 4px;
        margin-top: 0px;
        margin-left:4px;
        margin-right: 4px;
    }
    .recRestaurant p {
        margin-top: 0px;
        margin-bottom: 4px;
        width: 200px;
        // height: 100%;
    }

    .restaurant-send-button {
        margin-top: 4px;
        margin-bottom: 4px;
        margin-right: 4px;
        float: right;
    }
    .restaurant-send-icon {
        text-align: right;
        // margin-top: 4px;
        // margin-bottom: 4px;
        color: #ca1d1d;
        right: 0px;
    }
    .recRestaurant .attributes {
        display: block;
    }

    .recRestaurant .attribute {
        border: 0.5px solid #ca1d1d;
        border-radius: 25px;
        padding: 4px 4px 4px 4px;
        margin-bottom: 4px;
        font-size: 12px; 
        display: inline-block;
        margin: 2px 2px 2px 2px;
    }

   
  
    .send-message {
        // display: block;
        // position: fixed;
        width: 100%;
        // height: 10%;
        // bottom: 0px;

        // background-color: yellow;
    }
    
    .input-box {
        display: inline-block;
        width: 85%;
        height: 100%;
        // background-color: tomato;

    }
    .send-button {
        // background-color: blue;
        margin-right: 2px;
    }
    .send-icon {
        background-color: #ca1d1d;
    }
    

    // Restaurant overlay 
    .restaurant-overlay {
        position: fixed;
        width: 80%;
        height: 70%;
        margin-left: 10%;
        margin-top: 10%; 
        z-index: 20;
        background-color: white;
        box-shadow: 20px 20px 50px 15px grey;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .close-button {
        background-color: #ca1d1d;
        border-radius: 50%;
        margin-left: 7%;
        margin-top: 7%; 
        position: fixed;
        // top:0;
        // left:0;
        z-index: 25;
        // padding: 4px 4px 4px 4px;
        width: 40px;
        height: 40px;
        text-align: center;
    }
    
    .close-button a {
        font-size: 32px;
        color: white;
    }


    .restaurant-overlay .restaurant-hero {
        width: 100%;
        height: 50%;
    }
    .restaurant-overlay .restaurant-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }

    .restaurant-overlay .restaurant-details {
        width: 100%;
        // height: 20%;
        display: block;
        margin-left: 15px;
    }
    
    .restaurant-overlay .restaurant-details span.details-left {
        width: 60%;
        display: inline-block;
    }
    
    .restaurant-overlay .restaurant-details span.details-right {
        width: 30%;
        display: inline-block;
        text-align: right;
        margin-right: 10px;
        // vertical-align: middle;

    }

    .restaurant-overlay .restaurant-details span.details-right .rating, .distance {
        font-size: 15px;
        font-weight: 300;
    }

    .restaurant-overlay .restaurant-details span.details-right .rating .icon-image {
        width: 12x;
        height: 12px;
        padding-right: 10px;
    }
    
    .restaurant-overlay .restaurant-details span.details-right .distance .icon-image {
        width: 10px;
        height: 12px;
        padding-right: 2px;
    }

    .restaurant-overlay .top-dishes {
        text-align: center;
        margin-left: 15px;
    }

    .restaurant-overlay .top-dishes .top-dish {
        display: inline-block;
        font-size: 14px;
        font-weight: 300;
        padding: 4px 4px 4px 4px;
        margin: 4px 4px 2px 2px;
        border: 1px solid #ca1d1d;
        border-radius: 10px;
    }

    .restaurant-overlay .attributes {
        text-align: center;
        margin-left: 15px;
    }

    .restaurant-overlay .attributes .attribute {
        display: inline-block;
        font-size: 14px;
        font-weight: 300;
        padding: 6px 6px 6px 6px;
        margin: 4px 4px 2px 2px;
        border: 1px solid #ca1d1d;
        border-radius: 20px;
    }

    .restaurant-overlay .restaurant-actions {
        margin-left: 10px;
    }

    .restaurant-overlay .restaurant-actions .action {
        background-color: white;
        font-size: 15px;
        font-weight: 300;
        width: 100%;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .restaurant-overlay .restaurant-actions .action .action-icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        vertical-align: middle;
    }
    
    .restaurant-overlay .restaurant-actions .action .opentable-icon {
        width: 30px;
        height: 25px;
        margin-right: 10px;
        vertical-align: middle;
    }
    
    .restaurant-overlay .reviews .review {
        font-size: 14px;
        font-weight: 300;
        display: table-row;
        vertical-align: middle;
    }

    .restaurant-overlay .reviews .review .review-username {
        display: table-cell;
        width: 15%;
        text-align: center;
        vertical-align: middle;
    }

    .restaurant-overlay .reviews .review .review-icon-image {
        width: 32px;
    }
    
    .restaurant-overlay .reviews .review .review-icon {
        display: table-cell;
        vertical-align: middle;
        width: 10%
    }

    .restaurant-overlay .reviews .review .review-text {
        display: table-cell;
        vertical-align: middle;
        width: 70%;
        font-size: 14px;
        font-weight: 300;
        padding: 4px 4px 4px 4px;
        margin: 4px 4px 2px 2px;
        border: 1px solid #ca1d1d;
        border-radius: 10px;
    }

    .restaurant-overlay h3 {
        font-size: 21px;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .restaurant-overlay h4 {
        font-size: 15px;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .restaurant-overlay h5 {
        font-size: 15px;
        font-weight: 300;
    }









}
