<!--
  Generated template for the GroupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="group-title">{{groupName}}</ion-title>
    <ion-buttons end> 
      <button (click)="votesButtonTapped()" class="votes-button">
        <div class="vote-button">
          <div class="vote-number"> {{restaurantMessagesCount}}</div>
          <img src="assets/imgs/vote_icon.png" class="vote-icon">
        </div>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<div class="close-button" *ngIf="showRestaurantOverlay == true">
  <a (click)="closeRestaurantDetail()"><ion-icon name="close"></ion-icon></a>
</div>
<div class="restaurant-overlay" *ngIf="showRestaurantOverlay == true">
    <div class="restaurant-hero">
        <ion-slides>
            <ion-slide *ngIf="selectedRestaurant.primaryPhotoURL">
              <img class="restaurant-image" src="{{selectedRestaurant.primaryPhotoURL}}" />
            </ion-slide>
            <ion-slide>
                <div id="map_canvas"></div>
            </ion-slide>
          </ion-slides>
    </div>
  
    <div class="restaurant-details">
      <span class="details-left">
        <h3>{{ selectedRestaurant.name }}</h3>
        <h4>{{ selectedRestaurant.cuisine }} | {{ selectedRestaurant.priceTierString }}</h4>
        <h4>{{ selectedRestaurant.address }} </h4>
      </span>
      <span class="details-right">
        <span class="rating" *ngIf="selectedRestaurant.rating"> <img class="icon-image" src="assets/imgs/rating_icon.png"/> {{ selectedRestaurant.rating }} &nbsp; </span> <br>
        <span class="distance"> <img class="icon-image" src="assets/imgs/distance_icon.png"/> {{ selectedRestaurant.distance }} mi.</span>
      </span>
    </div>
  
    <div class="top-dishes">
      <h4 style="text-align:left;" *ngIf="selectedRestaurant.topDishes.length > 0"> Known for its... </h4>
      <span class="top-dish" *ngFor="let topDish of selectedRestaurant.topDishes"> {{ topDish }} </span>
    </div>
    
    <div class="restaurant-actions">
      <button class="action" *ngIf="selectedRestaurant.phoneNumber" (click)="callRestaurant()"><img class="action-icon" src="assets/imgs/call_icon.png" />Call restaurant</button>
      <button class="action" *ngIf="selectedRestaurant.hasMenu" (click)="viewMenu()"><img class="action-icon" src="assets/imgs/menu_icon.png"/> View menu</button>
      <button class="action" (click)="viewPhotos()"> <img class="action-icon" src="assets/imgs/photos_icon.png"/> View photos</button>
      <button class="action" *ngIf="selectedRestaurant.reservationURL" (click)="viewOpentable()"> <img class="opentable-icon" src="assets/imgs/opentable.png"> Make a reservation</button>
      <button class="action" *ngIf="selectedRestaurant.restaurantURL" (click)="viewWebsite()"> <img class="opentable-icon" src="assets/imgs/opentable.png">View website</button>
    </div>
    
    <div class="attributes"> 
      <span class="attribute" *ngFor="let attribute of selectedRestaurant.attributes"> {{ attribute }} </span>
    </div>
    
    <ion-list no-lines class="reviews">
      <ion-item text-wrap *ngFor="let review of selectedRestaurant.reviews">
        <div class="review">
          <span class="review-username" text-wrap> {{review.userName}} </span>
          <span class="review-icon"><img src="assets/imgs/review_icon.png" class="review-icon-image"> </span>
          <span class="review-text" text-wrap>{{review.text}}</span>
        </div>
      </ion-item>
    </ion-list>
  </div>

<ion-content>
  <ion-list>

    <ion-item no-lines *ngFor="let message of messages">
      <div class="my-message" *ngIf="message.sender == userID && message.type != 'notification'">
        <span class="message-detail">
          <div class="username">
            <h3>{{userName}}</h3>
          </div>
          <div text-wrap class="message" *ngIf="message.type == 'text'">
            <p>
              {{message.text}}
            </p>
          </div>
          
          <div class="restaurant-message" (click)="viewRestaurantDetail(restaurantMessages[message.text])" *ngIf="message.type == 'restaurant' && restaurantMessages[message.text]">
            <!-- <button ion-button right class="restaurant-send-icon" (click)="sendRestaurant(restaurant)"> <ion-icon name="send"></ion-icon> </button>  -->
            
            <ion-icon name="information-circle" style="float: right; color:#ca1d1d;"></ion-icon>
            <h4 text-wrap>{{restaurantMessages[message.text].name}}</h4>
            <p> {{restaurantMessages[message.text].cuisine}}</p>
            <div class="restaurant-info">
              <span> {{restaurantMessages[message.text].rating}}</span>
              <span> {{restaurantMessages[message.text].priceTierString}}</span>
              <span> {{restaurantMessages[message.text].distance}} mi</span>
            </div>
            <div class="attributes" text-wrap>
              <span *ngFor="let attribute of restaurantMessages[message.text].attributes" class="attribute"> {{attribute}}</span>
            </div>
            
          </div> 
          <div class="restaurant-votes" *ngIf="message.type == 'restaurant' && restaurantMessages[message.text]">
            <div>
              <a class="restaurant-like-button" *ngIf="(!restaurantVotes[message.text]) || (restaurantVotes[message.text] && restaurantVotes[message.text]['isLiked'] == false)" (click)="likeRestaurant(restaurantMessages[message.text])"> <ion-icon class="restaurant-like-icon" name="thumbs-up"></ion-icon> </a> 
              <a class="restaurant-like-button-selected" *ngIf="restaurantVotes[message.text] && restaurantVotes[message.text]['isLiked']==true"> <ion-icon class="restaurant-like-icon-selected" name="thumbs-up"></ion-icon> </a> 
              <span class="vote-count">{{restaurantVotes[message.text]['totalLiked']}}</span>
            </div>
            <div>
              <a class="restaurant-dislike-button" *ngIf="(!restaurantVotes[message.text]) || (restaurantVotes[message.text] && restaurantVotes[message.text]['isDisliked'] == false)" (click)="dislikeRestaurant(restaurantMessages[message.text])"> <ion-icon class="restaurant-dislike-icon" name="thumbs-down"></ion-icon></a> 
              <a class="restaurant-dislike-button-selected" *ngIf="restaurantVotes[message.text] && restaurantVotes[message.text]['isDisliked'] == true"> <ion-icon class="restaurant-dislike-icon-selected" name="thumbs-down"></ion-icon> </a> 
              <span class="vote-count">{{restaurantVotes[message.text]['totalDisliked']}}</span>
            </div>
          </div>            
        </span>
        <span class="user-icon">
          <h3>{{userName | slice:0:1}}</h3>
        </span>
      </div>
      <div class="their-message" *ngIf="message.sender != userID && message.type != 'notification'">
        <span class="user-icon">
          <h3>{{userNames[message.sender] | slice:0:1}}</h3>
        </span>
        <span class="message-detail">
          <div class="username">
            <h3>{{userNames[message.sender]}} </h3>
          </div>
          <div text-wrap class="message" *ngIf="message.type == 'text'">
            <p>
              {{message.text}}
            </p>
          </div>
          <div class="restaurant-message" (click)="viewRestaurantDetail(restaurantMessages[message.text])" *ngIf="message.type == 'restaurant' && restaurantMessages[message.text]">
            <!-- <button ion-button right class="restaurant-send-icon" (click)="sendRestaurant(restaurant)"> <ion-icon name="send"></ion-icon> </button>  -->
            
            <ion-icon name="information-circle" style="float: left; color:#ca1d1d;"></ion-icon>
            <h4 text-wrap>{{restaurantMessages[message.text].name}}</h4>
            <p> {{restaurantMessages[message.text].cuisine}}</p>
            <div class="restaurant-info">
              <span> {{restaurantMessages[message.text].rating}}</span>
              <span> {{restaurantMessages[message.text].priceTierString}}</span>
              <span> {{restaurantMessages[message.text].distance}} mi</span>
            </div>
            <div class="attributes" text-wrap>
              <span *ngFor="let attribute of restaurantMessages[message.text].attributes" class="attribute"> {{attribute}}</span>
            </div>
            
          </div> 
          <div class="restaurant-votes" *ngIf="message.type == 'restaurant' && restaurantMessages[message.text]">
            <div>
              <a class="restaurant-like-button" *ngIf="(!restaurantVotes[message.text]) || (restaurantVotes[message.text] && restaurantVotes[message.text]['isLiked'] == false)" (click)="likeRestaurant(restaurantMessages[message.text])"> <ion-icon class="restaurant-like-icon" name="thumbs-up"></ion-icon> </a> 
              <a class="restaurant-like-button-selected" *ngIf="restaurantVotes[message.text] && restaurantVotes[message.text]['isLiked']==true"> <ion-icon class="restaurant-like-icon-selected" name="thumbs-up"></ion-icon> </a> 
              <span class="vote-count">{{restaurantVotes[message.text]['totalLiked']}}</span>
            </div>
            <div>
              <span><a class="restaurant-dislike-button" *ngIf="(!restaurantVotes[message.text]) || (restaurantVotes[message.text] && restaurantVotes[message.text]['isDisliked'] == false)" (click)="dislikeRestaurant(restaurantMessages[message.text])"> <ion-icon class="restaurant-dislike-icon" name="thumbs-down"></ion-icon></a> </span>
              <span><a class="restaurant-dislike-button-selected" *ngIf="restaurantVotes[message.text] && restaurantVotes[message.text]['isDisliked'] == true"> <ion-icon class="restaurant-dislike-icon-selected" name="thumbs-down"></ion-icon> </a> </span>
              <span class="vote-count">{{restaurantVotes[message.text]['totalDisliked']}}</span>
            </div> 
          </div>    
        </span>
      </div>
      
      <div class="vote-message" *ngIf="message.type == 'notification' && message.sender != userID">
        <p>
          {{message.text}}
        </p>
      </div>
    </ion-item>
  </ion-list>
  </ion-content>
  <ion-footer>
    <div class="restaurant-bar">
      <ion-row>
        <a class="restaurant-bar-recommended" (click)="recommendedRestaurantsButtonTapped(0)"> <ion-icon class="restaurant-bar-recommended-icon" name="restaurant"></ion-icon> </a>
        <a class="restaurant-bar-filters" (click)="recommendedRestaurantsButtonTapped(1)"> <ion-icon class="restaurant-bar-recommended-icon" name="funnel"></ion-icon> </a>
        <a class="restaurant-bar-search" (click)="recommendedRestaurantsButtonTapped(2)"> <ion-icon class="restaurant-bar-recommended-icon" name="search"></ion-icon> </a>
        <a class="restaurant-bar-location" (click)="recommendedRestaurantsButtonTapped(3)"> <ion-icon class="restaurant-bar-recommended-icon" name="compass"></ion-icon> </a>
      </ion-row>
      </div>

    <div *ngIf="showRestaurantPanel == true" class="restaurant-panel">
        <ion-scroll #restaurantScrollView scrollX="true" direction="x" class="wide-as-needed">
          <div class="panel-text">{{restaurantBarText}}: </div>
            <ion-row nowrap>
              <div *ngFor="let restaurant of restaurantBarRestaurants">
                <!-- <button ion-button right class="restaurant-send-icon" (click)="sendRestaurant(restaurant)"> <ion-icon name="send"></ion-icon> </button>  -->
                <div class="recRestaurant" (click)="viewRestaurantDetail(restaurant)" *ngIf="!restaurantMessages[restaurant.restaurantID]">

                  <a class="restaurant-send-button" (click)="sendRestaurant(restaurant)"> <ion-icon class="restaurant-send-icon" name="send"></ion-icon> </a> 
                  <ion-icon name="information-circle" style="float: left; color:#ca1d1d; margin: 5px;"></ion-icon>
                  <h4 text-wrap>{{restaurant.name}}</h4>
                  <p> {{restaurant.cuisine}}</p>
                  <div>
                    <span> {{restaurant.rating}}</span>
                    <span> {{restaurant.priceTierString}}</span>
                    <span> {{restaurant.distance}} mi</span>
                  </div>
                  <div class="attributes">
                    <span *ngFor="let attribute of restaurant.attributes" class="attribute"> {{attribute}}</span>
                  </div>
                </div>
              </div>
            </ion-row>
        </ion-scroll>
      </div>
    <div class="send-message">
      <span class="input-box">
        <ion-input placeholder="Enter your message" [(ngModel)]="messageInput" (keyup.enter)="sendMessage()" clearInput></ion-input>
      </span>
      <span class="send-button">
        <button ion-button class="send-icon" (click)="sendMessage()"> <ion-icon name="send"></ion-icon> </button>
      </span>
    </div>
</ion-footer>