// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



.toolbar-background {
  text-align: center;
  background-color: #ca1d1d;

}

@font-face { font-family: 'Yellowtail'; font-style: normal; font-weight: 400; src: url('../assets/fonts/yellowtail-v8-latin-regular.eot'); src: local('Yellowtail Regular'), local('Yellowtail-Regular'), url('../assets/fonts/yellowtail-v8-latin-regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/yellowtail-v8-latin-regular.woff2') format('woff2'), url('../fonts/yellowtail-v8-latin-regular.woff') format('woff'), url('../assets/fonts/yellowtail-v8-latin-regular.ttf') format('truetype'), url('../assets/fonts/yellowtail-v8-latin-regular.svg#Yellowtail') format('svg'); }