page-favorites {
    .item-inner { padding-right: 0px!important; }
    .label { margin: 0; }
    .liked-dish .dish-image img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    .liked-dish .dish-details {
        font-size: 21px;
        font-weight: 300;
        margin: 20px 20px;
    }
}
