<!--
  Generated template for the FavoritesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>favorites</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list no-lines>
    <button detail-none no-padding ion-item *ngFor="let dish of likedDishes" (click)="dishTapped(dish)" class="liked-dish">
      <div class="dish-image">
        <img src="{{dish.images[0].imageURL}}">
      </div>
      <div class="dish-details">
        {{dish.dishName}}
      </div>
    </button>
  </ion-list>

</ion-content>
