ion-title {
    font-family: 'Yellowtail'; 
    text-align: center;
    margin-left: 0px;
}

.favorites-button {
    background-color: transparent;
    width: 45px;
}

.favorites-button .favorites-full {
    position: relative;
}

.favorites-button .favorites-full .favorites-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ca1d1d;
    text-align: center;
    font-weight: 400;
    font-size: 18px;

    
}

page-entree {

    .search-input {
        height: 40%;
        width: 100%;
        // background-color: blue;
        position: absolute;
        top: 0px;
        left:0px;
        // z-index: 10;
    }

    #card-stack {
        height: 95%;
        position: relative;

    }
    #card-stack ion-card {
        border-radius: 5px;
        text-align: center;
        height: 100%;
        position: absolute;
    }

    .card-image-div {
        height: 70%;
        position: relative;
    }
    
    .like-label {
        color: green;
        position: absolute;
        top: 36px;
        left: 16px;
        font-size: 32px;
        border-radius: 4px;
        padding: 6px 6px 6px 6px;
        margin: 4px 4px 2px 2px;
        border: 5px solid green;
        font-weight: 600;
        transform: rotate(-15deg);
    }
    .dislike-label {
        color: #ca1d1d;
        position: absolute;
        top: 36px;
        right: 16px;
        font-size: 32px;
        border-radius: 4px;
        padding: 6px 6px 6px 6px;
        margin: 4px 4px 2px 2px;
        border: 5px solid #ca1d1d;
        font-weight: 600;
        transform: rotate(15deg);
    }
    .card-image {
        pointer-events: none;
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }
    
    .card-details {
        display: block;
        margin-top: 16px;
        position: relative;
        width: 100%;
    }
    .card-icons {
        display: inline-block;
        width: 15%;
        height: 100%;
        text-align: center;
        margin-right: 10px;
    }
    .card-data {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        margin-top: 10px;
        margin-left: 10px;
    }
    .card-price {
        display: inline-block;
        width: 25%;
        vertical-align: top;
        margin-top: 10px;
    }


    .cuisine-icon, .meat-icon {
        width:40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        margin-left: 10px;
        margin-bottom: 10px;
        
    }

   
    
    .title {
        font-weight: 300;
        text-align: left;
        font-size: 21px;
    }
    
    .subtitle {
        font-weight: 300;
        text-align: left;
        font-size: 14px;
        margin-top: 10px;
    }
    
    .price-range {
        font-weight: 300;
        text-align: right;
        padding-top: 4px;
        font-size: 17px;
        padding-right: 10px;
    }
    
    #infos-like {
        padding-top: 10px;
        font-size: 16px;
      }
}
