<!--
  Generated template for the EntreePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Entrée</ion-title>
    <ion-buttons end>
      <button (click)="showFavorites()" class="favorites-button">
        <img *ngIf="favoritesCount == 0" src="assets/imgs/favorites_empty.png"/>
        <div class="favorites-full" *ngIf="favoritesCount > 0">
            <img class="favorites-image" src="assets/imgs/favorites_full.png"/>
            <div class="favorites-count">
              {{favoritesCount}}
            </div>
        </div>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="search-input" *ngIf="searchInputEnabled == true">
      <ion-searchbar
      [(ngModel)]="searchStringInput"
      [showCancelButton]="true"
      (ionInput)="onSearchInput($event)"
      (ionCancel)="onSearchCancel()">
    </ion-searchbar>
  </div>
  <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="swipeDish(false)" (throwoutright)="swipeDish(true)" id="card-stack">
    <ion-card #mycards1 swing-card *ngFor="let dish of dishes; let i = index" (click)="selectDish(dish)">
      <div class="card-image-div">
        <img class="card-image" src="{{dish.images[0].imageURL}}">
        <div class="like-label" *ngIf="showLikeLabel == true && i == dishes.length - 1"> LIKE </div>
        <div class="dislike-label" *ngIf="showDislikeLabel == true  && i == dishes.length - 1"> DISLIKE </div>
      </div>
        <div class="card-details">
          <span class="card-icons">
            <img class="cuisine-icon" src="assets/cuisine-icons/random.png"/>
            <img class="meat-icon" src="assets/cuisine-icons/random.png"/>
          </span>
          <span class="card-data">
            <h1 class="title">{{ dish.dishName }}</h1>
            <h2 class="subtitle">{{ dish.restaurantCount }} restaurants around you</h2>
          </span>
          <span class="card-price">
              <h2 class="price-range">{{dish.priceString}}</h2>

          </span>
        </div>

    </ion-card>
  </div>
</ion-content>
