page-delivery-item {
    .menu-item h3 {
        font-size: 17px;
        font-weight: 300;
        margin-right: 2px;
    }
    h4 {
        font-size: 15px;
        font-weight: 300;
    }
    .menu-item p {
        font-size: 14px;
        font-weight: 300;
    }

    .menu-item {
        display: block;
        width: 100%;
        height: 100%;
    }

    .menu-item .dish {
        display: inline-block;
        height: 100%;
        width: 75%;
    }

    .menu-item .price {
        display: inline-block;
        height: 100%;
        width: 30%;
        text-align: center;
        

    }
}
