<!--
  Generated template for the DeliveryItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>delivery-item</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
          <div class="menu-item">
            <span class="dish">
                <h3>{{dish.dishName}}</h3>
                <p text-wrap *ngIf="dish.dishDescription"> {{dish.dishDescription}}</p>
              </span>
              <span class="price">
                <h3>${{dish.basePrice}}</h3>
              </span>
          </div>
        </ion-item>

        <ion-item-group *ngFor="let choiceGroup of dish.choiceGroups">
          <ion-item-divider color="light"> {{choiceGroup.choiceGroupName}}</ion-item-divider>
            <button ion-item detail-push *ngFor="let choice of choiceGroup.choices" (click)="choiceSelected(choice)">
              <div *ngIf="choice.choiceType === 'DROPDOWN'">
                <h3>{{choice.choiceOptions[0].choiceOptionName}}</h3>
              </div>
            </button>
        </ion-item-group>

        <ion-item-group>
            <ion-item-divider color="light">Quantity</ion-item-divider>
            <ion-item>
              - {{quantity}} +
            </ion-item>
          </ion-item-group>
          <ion-item-group>
              <ion-item-divider color="light">Special requests</ion-item-divider>
              <ion-item>
                  <ion-input placeholder="Please enter any special requests" [(ngModel)]="specialRequests"></ion-input>
              </ion-item>
            </ion-item-group>
      </ion-list>

</ion-content>
