
page-restaurant-detail {
    .restaurant-hero {
        width: 100%;
        height: 50%;
    }
    .restaurant-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }

    .restaurant-details {
        width: 100%;
        // height: 20%;
        display: block;
        margin-left: 15px;
    }
    
    .restaurant-details span.details-left {
        width: 60%;
        display: inline-block;
    }
    
    .restaurant-details span.details-right {
        width: 30%;
        display: inline-block;
        text-align: right;
        margin-right: 10px;
        // vertical-align: middle;

    }

    .restaurant-details span.details-right .rating, .distance {
        font-size: 15px;
        font-weight: 300;
    }

    .restaurant-details span.details-right .rating .icon-image {
        width: 12x;
        height: 12px;
        padding-right: 10px;
    }
    
    .restaurant-details span.details-right .distance .icon-image {
        width: 10px;
        height: 12px;
        padding-right: 2px;
    }

    .top-dishes {
        text-align: center;
        margin-left: 15px;
    }

    .top-dishes .top-dish {
        display: inline-block;
        font-size: 14px;
        font-weight: 300;
        padding: 4px 4px 4px 4px;
        margin: 4px 4px 2px 2px;
        border: 1px solid #ca1d1d;
        border-radius: 10px;
    }

    .attributes {
        text-align: center;
        margin-left: 15px;
    }

    .attributes .attribute {
        display: inline-block;
        font-size: 14px;
        font-weight: 300;
        padding: 6px 6px 6px 6px;
        margin: 4px 4px 2px 2px;
        border: 1px solid #ca1d1d;
        border-radius: 20px;
    }

    .restaurant-actions {
        margin-left: 10px;
    }

    .restaurant-actions .action {
        background-color: white;
        font-size: 15px;
        font-weight: 300;
        width: 100%;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .restaurant-actions .action .action-icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        vertical-align: middle;
    }
    
    .restaurant-actions .action .opentable-icon {
        width: 30px;
        height: 25px;
        margin-right: 10px;
        vertical-align: middle;
    }
    
    .reviews .review {
        font-size: 14px;
        font-weight: 300;
        display: table-row;
        vertical-align: middle;
    }

    .reviews .review .review-username {
        display: table-cell;
        width: 15%;
        text-align: center;
        vertical-align: middle;
    }

    .reviews .review .review-icon-image {
        width: 32px;
    }
    
    .reviews .review .review-icon {
        display: table-cell;
        vertical-align: middle;
        width: 10%
    }

    .reviews .review .review-text {
        display: table-cell;
        vertical-align: middle;
        width: 70%;
        font-size: 14px;
        font-weight: 300;
        padding: 4px 4px 4px 4px;
        margin: 4px 4px 2px 2px;
        border: 1px solid #ca1d1d;
        border-radius: 10px;
    }

    h3 {
        font-size: 21px;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h4 {
        font-size: 15px;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h5 {
        font-size: 15px;
        font-weight: 300;
    }

}
