<!--
  Generated template for the RestaurantDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Entrée</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="restaurant-hero">
      <ion-slides>
          <ion-slide *ngIf="restaurant.primaryPhotoURL">
            <img class="restaurant-image" src="{{restaurant.primaryPhotoURL}}" />
          </ion-slide>
          <ion-slide>
              <div id="map_canvas"></div>
          </ion-slide>
        </ion-slides>
  </div>

  <div class="restaurant-details">
    <span class="details-left">
      <h3>{{ restaurant.name }}</h3>
      <h4>{{ restaurant.cuisine }} | {{ restaurant.priceTierString }}</h4>
      <h4>{{ restaurant.address }} </h4>
    </span>
    <span class="details-right">
      <span class="rating" *ngIf="restaurant.rating"> <img class="icon-image" src="assets/imgs/rating_icon.png"/> {{ restaurant.rating }} &nbsp; </span> <br>
      <span class="distance"> <img class="icon-image" src="assets/imgs/distance_icon.png"/> {{ restaurant.distance }} mi.</span>
    </span>
  </div>

  <div class="top-dishes">
    <h4 style="text-align:left;" *ngIf="restaurant.topDishes.length > 0"> Known for its... </h4>
    <span class="top-dish" *ngFor="let topDish of restaurant.topDishes"> {{ topDish }} </span>
  </div>
  
  <div class="restaurant-actions">
    <button class="action" *ngIf="restaurant.phoneNumber" (click)="callRestaurant()"><img class="action-icon" src="assets/imgs/call_icon.png" />Call restaurant</button>
    <button class="action" *ngIf="restaurant.hasMenu" (click)="viewMenu()"><img class="action-icon" src="assets/imgs/menu_icon.png"/> View menu</button>
    <button class="action" (click)="viewPhotos()"> <img class="action-icon" src="assets/imgs/photos_icon.png"/> View photos</button>
    <button class="action" *ngIf="restaurant.reservationURL" (click)="viewOpentable()"> <img class="opentable-icon" src="assets/imgs/opentable.png"> Make a reservation</button>
    <button class="action" *ngIf="restaurant.restaurantURL" (click)="viewWebsite()"> <img class="opentable-icon" src="assets/imgs/opentable.png">View website</button>
  </div>
  
  <div class="attributes"> 
    <span class="attribute" *ngFor="let attribute of restaurant.attributes"> {{ attribute }} </span>
  </div>
  
  <ion-list no-lines class="reviews">
    <ion-item text-wrap *ngFor="let review of restaurant.reviews">
      <div class="review">
        <span class="review-username" text-wrap> {{review.userName}} </span>
        <span class="review-icon"><img src="assets/imgs/review_icon.png" class="review-icon-image"> </span>
        <span class="review-text" text-wrap>{{review.text}}</span>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
