
page-restaurant-photos {
    .title {
        text-align: center;
        margin-left: -20%;
    }
    
    .title h1{
        font-family: "roboto";
        font-weight: 300;
        font-size: 24px;
        padding-bottom: 4px;
    }

    .photos {
        column-gap: 2px;
    }
    @media (min-width: 0px) {
        .photos {
            column-count: 2;
        }
    }
    @media (min-width: 420px) {
        .photos {
            column-count: 3;
        }
    }
    @media (min-width: 720px) {
        .photos {
            column-count: 4;
        }
    }
    .photo {

        // margin-right: 1px;

    }

}
