<!--
  Generated template for the RestaurantPhotosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar primary>
    <ion-title class="title"><h1>Photos</h1></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="photos">
    <div class="photo" *ngFor="let photo of restaurant.photos">
        <img src="{{photo.photoURL}}">
    </div>
  </div>
</ion-content>
