page-restaurant-menu {
    .title {
        text-align: center;
        margin-left: -20%;
    }
    
    .title h1{
        font-family: "roboto";
        font-weight: 300;
        font-size: 24px;
        padding-bottom: 4px;
    }
}
