<!--
  Generated template for the RestaurantMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title class="title"><h1>Menu</h1></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
