<!--
  Generated template for the DeliveryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Entrée</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div>
      <ion-searchbar
      [(ngModel)]="searchStringInput"
      [showCancelButton]="true"
      (ionInput)="onSearchInput($event)"
      (ionCancel)="onSearchCancel()">
    </ion-searchbar>
  </div>
  <ion-scroll #topDishScrollView scrollX="true" direction="x" class="wide-as-needed">
    <ion-row nowrap>
      <div class="topDish" *ngIf="selectedTopDish" (click)="topDishTapped(selectedTopDish)">
        <img src="assets/imgs/selected_filter_icon.png" class="selectedImage">
        <img src="{{selectedTopDish.imageURL}}"/>
        <h4 text-wrap>{{selectedTopDish.dishName}}</h4>
      </div>
      <div class="similarDishSeparator" *ngIf="selectedTopDish && filteredTopDishes.length > 0"> <h4 text-wrap>Similar dishes:</h4> </div>
      <div class="topDish" *ngFor="let topDish of filteredTopDishes" (click)="topDishTapped(topDish)">
        <!-- <img src="assets/imgs/selected_filter_icon.png" class="selectedImage" *ngIf="topDish == selectedTopDish"> -->
        <img src="{{topDish.imageURL}}"/>
        <h4 text-wrap>{{topDish.dishName}}</h4>
      </div>
    </ion-row>
  </ion-scroll>
  

    <ion-list no-lines>
      <button class="restaurant-cell" ion-item *ngFor="let restaurant of filteredRestaurants" (click)="restaurantTapped(restaurant)">
        <div class="restaurant">
          <span class="restaurant-image">
            <img src="{{restaurant.logoURL}}"/>
          </span>
          <span class="restaurant-details">
            <h3 text-wrap> {{restaurant.name}} </h3>
            <p *ngIf="restaurant.rating && restaurant.rating > 0"> {{ restaurant.rating }} | {{ restaurant.priceTierString }} | {{ restaurant.distance }} mi</p>
            <p *ngIf="!restaurant.rating || restaurant.rating == 0"> {{ restaurant.priceTierString }} | {{ restaurant.distance }} mi</p>
            <p> {{ restaurant.primaryCuisine }} </p>
          </span>
          <span class="delivery-details">
            <p> {{restaurant.minWaitTime }} - {{ restaurant.maxWaitTime }} min</p>
            <p> Fee: ${{restaurant.deliveryFee}}</p>
            <p> Min: ${{restaurant.deliveryMin}}</p>
          </span>
          <p class="selectedDish" *ngIf="selectedTopDish"> {{ restaurant.dishes[selectedTopDish.dishID].dishName }} - {{restaurant.dishes[selectedTopDish.dishID].dishPrice}} </p>
        </div>
        
      </button>
    </ion-list>
  <!-- </div> -->

</ion-content>
