page-delivery {
    ion-list .restaurant-cell:nth-child(2n+1) {
        background-color: rgba($color: #ca1d1d, $alpha: 0.05);
    }

    .wide-as-needed {
        overflow: scroll;
        // white-space: nowrap;
        width: 100%;
        height: 25%;
    }

    .topDish {
        text-align: center;
        // height: 200px;
        margin-top: 10px;
        position: relative;
    }
    .topDish .selectedImage {
        position: absolute;
        z-index: 3;
        height: 25px;
        width: 25px;
        top: 0px;
        right: 15px;
    }

    .topDish img {
        width: 60px;
        height: 60px ;
        border-radius: 50%;
        object-fit: cover;
    }
    .topDish h4 {
        word-wrap: break-word;
        margin-left: 10px;
        margin-right: 10px;
        width: 100px;
    }
    .similarDishSeparator h4 {
        // display: inline-block;
        vertical-align: middle;
        margin: 50px 10px 50px 10px;
        height: 80%;
         
    }


    .restaurant {
        display: block;
        width: 100%;
        height: 100%;
        padding: 8px 8px;
    }
    .restaurant-image {
        display: inline-block;
        height: 100%;
        width: 20%;
        text-align: center;
        margin-right: 5px;

    }
    .restaurant-image img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .restaurant-details {
        display: inline-block;
        height: 100%;
        width: 55%;
    }
    .delivery-details {
        display: inline-block;
        height: 100%;
        width: 25%;
    }
    .restaurant h3 {
        font-size: 17px;
        font-weight: 300;
        margin-right: 2px;
    }
    h4 {
        font-size: 15px;
        font-weight: 300;
    }
    .restaurant p {
        font-size: 14px;
        font-weight: 300;
    }
    .restaurant .selectedDish {
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
        // border: 1px solid #ca1d1d;
        // display: inline;
        // width: 40%;
        // margin-left: 30%;
        // margin-right: 30%;
    }
}
